<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{ hideSideNav: !(isHandset$ | async) }" fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu </mat-toolbar>
    <mat-nav-list *ngIf="ContentType === 1">
      <a mat-list-item (click)="logOut()">Log Out</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="ContentType === 2">
      <a mat-list-item (click)="back()">Back</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="navClr" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>ResHoster</span>
      <span class="spacer"></span>
      <button *ngIf="ContentType === 0" class="loginBtn" mat-raised-button color="primary" routerLink="/user">
        Login
      </button>
      <div [ngClass]="{ hideDesktopLinks: isHandset$ | async }" class="desktopLinks">
        <button *ngIf="ContentType === 1" (click)="logOut()" class="loginBtn" mat-raised-button color="primary"
          routerLink="/user">
          Log Out
        </button>
        <!-- <div *ngIf="ContentType === 1">
          <a (click)="logOut()">Log Out</a>
        </div> -->
        <div *ngIf="ContentType === 2">
          <a (click)="back()">Back</a>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>