.form{
  margin-left: 5%;;
}

.mat-form-field{
  width: 350px;
}
.submit{
  width: 250px;
  height: 100px;
  font-size: 24px;
}
.flex-container{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.comHeading{
  font-size: 20px;
  padding: 0px 68px;
  margin-top: -15px;
  margin-bottom: 10px;
}
.plusIcon{
  margin-top: 12px;
}
.closeIcon{
  margin-bottom: 30px;
}
.mainHeading{
  margin-bottom: 40px;
  margin-top: 30px;
}
.createResume{
  margin-bottom: 30px;
}
.object{
  width: 1167px;
}