<div class="form">
  <form [formGroup]="resumeForm">
    <h2 class="mainHeading">Create New Resume</h2>
    <p class="comHeading">Basic Details</p>

    <div class="flex-container">
    <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
    </div>
     <div>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <textarea
            matInput
            formControlName="address"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
          ></textarea>
        </mat-form-field>
      </div>
       <div>
        <mat-form-field appearance="outline">
          <mat-label>Telephone</mat-label>
          <input type="tel" formControlName="tel" matInput />
        </mat-form-field>
      </div>  
      <div >
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Date Of Birth</mat-label>
          <input matInput formControlName="dob" [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Skills</mat-label>
          <mat-chip-list #chipList>
            <mat-chip
              color="primary"
              *ngFor="let skill of skills"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="remove(skill)"
            >
              {{ skill.name }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              formControlName="skill"
              required
              [matChipInputFor]="chipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
    </div>

    <p class="comHeading">Objective</p>
    <div class="flex-container">
      <div> 
        <mat-form-field class="object" appearance="outline">
          <mat-label>Objective</mat-label>
          <input formControlName="objective" matInput />
        </mat-form-field>
      </div>
    </div>

    <p class="comHeading">Education</p>
    <div class="flex-container">
      <div>
        <div formArrayName="education" class="edu">
          <div
            *ngFor="let educations of educationForm.controls; let i = index"
            [formGroupName]="i"
          >
            
              <mat-form-field appearance="outline">
                <mat-label>College Name</mat-label>
                <input formControlName="edu1" matInput />
              </mat-form-field>
            
              <mat-form-field appearance="outline">
                <mat-label>Year Of Passout</mat-label>
                <input formControlName="edu2" matInput #year maxlength="4" />
              </mat-form-field>
            
            
              <mat-form-field appearance="outline">
                <mat-label>Stream</mat-label>
                <input formControlName="edu3" matInput />
              </mat-form-field>

            <td *ngIf="i > 0">
              <button class="closeIcon" (click)="deleteEducation(i)" mat-mini-fab color="warn">
                <mat-icon>close</mat-icon>
              </button>
          </div>
        </div>
      </div>
        <div class="plusIcon">
          <button (click)="addEdu()" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        </div>

    </div>
    <p class="comHeading">Experience</p>
    <div class="flex-container">
      <div>
        <div formArrayName="experience" class="exp">
          <div
            *ngFor="let experience of experienceForm.controls; let i = index"
            [formGroupName]="i"
          >
            
              <mat-form-field appearance="outline">
                <mat-label>Company Name</mat-label>
                <input formControlName="exp1" matInput />
              </mat-form-field>
            
            
              <mat-form-field appearance="outline">
                <mat-label>Year Of Experience</mat-label>
                <input formControlName="exp2" matInput #year maxlength="4" />
              </mat-form-field>
            
            
              <mat-form-field appearance="outline">
                <mat-label>Position</mat-label>
                <input formControlName="exp3" matInput />
              </mat-form-field>
            
            <div *ngIf="i > 0">
              <button class="closeIcon" (click)="deleteExperience(i)" mat-mini-fab color="warn">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="plusIcon">
          <button (click)="addExp()" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
      </div>
    </div>
    <p class="comHeading">Projects</p>
    <div class="flex-container">
      <div>
        <div formArrayName="projects" class="pro">
          <div
            *ngFor="let projects of projectForm.controls; let i = index"
            [formGroupName]="i"
          >
            
              <mat-form-field appearance="outline">
                <mat-label>Project Name</mat-label>
                <input formControlName="pro1" matInput />
              </mat-form-field>
            
            
              <mat-form-field appearance="outline">
                <mat-label>Short Description</mat-label>
                <textarea
                  matInput
                  formControlName="pro2"
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5"
                ></textarea>
              </mat-form-field>
            
            
              <mat-form-field appearance="outline">
                <mat-label>Used Skill</mat-label>
                <input formControlName="pro3" matInput />
              </mat-form-field>
            
            <div *ngIf="i > 0">
              <button class="closeIcon" (click)="deleteProject(i)" mat-mini-fab color="warn">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            </div>
          </div>
        </div>
        <div class="plusIcon">
          <button (click)="addPro()" mat-mini-fab color="primary">
            <mat-icon>add</mat-icon>
          </button>
        
      </div>
    </div>

    <p class="comHeading">Certification</p>
    <div class="flex-container">
      <div>
        <div formArrayName="certification" class="cert">
          <div
            *ngFor="
              let certification of certificationForm.controls;
              let i = index
            "
            [formGroupName]="i"
          >
            
              <mat-form-field appearance="outline">
                <mat-label>Institute Name</mat-label>
                <input formControlName="cert1" matInput />
              </mat-form-field>
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            
              <mat-form-field appearance="outline">
                <mat-label>Stream</mat-label>
                <input formControlName="cert2" matInput #year maxlength="4" />
              </mat-form-field>
              
            
            <td *ngIf="i > 0">
              <button class="closeIcon"
                (click)="deleteCertification(i)"
                mat-mini-fab
                color="warn"
              >
                <mat-icon>close</mat-icon>
              </button>
            
          </div>
        </div>
      </div>
      <div class="plusIcon"> 
        
          <button mat-mini-fab color="primary" (click)="addCert()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
      <div class="flex-container">
        <div class="createResume">
          <button (click)="submitResume()" [disabled]="!resumeForm.valid" class="submit"
           color="primary" mat-raised-button>
             Create Resume
          </button>
        </div>
    </div>


   
    
</form>
</div>
