/** @format */

.home {
  // background-image: url(banner.jpg);
}
.startSection{
  // background-image: url(../../../assets/banner.jpg);
  // background-repeat: no-repeat;
}
.contentPart{
  background-color: #2ea0a9;
  color: #fff;
  font-size: 28px;
} 
.userLogin{
  display: flex;
  flex-direction: column;
}
.searchBtn{
  background-color: #4c4c4c;
}
